#heading {
    text-align: center;
}
#form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form-elmt {
    margin: 5px 10px;
}
[type="submit"] {
    margin: 5px;
}
